<%= title "Individual Orders" %>

<%= link_to "New Customer", new_customer_path(role: 'individual'), class: "btn btn-dark mb-3" %>
<div class="items-container">
  <% @individual.each do |individual| %>
    <%= link_to customer_orders_path(individual),
    data: { turbo_frame: "_top" }, class: 'unit-title' do %>
      <div class="unit item product-details">
        <span><%= individual.name %></span>
      </div>
    <% end %>
  <% end %>
</div>
