<%= title "Tables" %>

<%= link_to "New Customer", new_customer_path(role: 'table'), class: "btn btn-dark mb-3" %>
<div class="items-container">
  <% @tables.each do |table| %>
    <%= link_to customer_orders_path(table),
      data: { turbo_frame: "_top" }, class: 'unit-title' do %>
      <div class="unit item product-details">
        <span><%= table.name %></span>
      </div>
    <% end %>
  <% end %>
</div>
