<h1>Tables</h1>
<%= link_to "New Customer", new_customer_path, class: "btn btn-dark mb-3" %>
<div class="row">
  <% @tables.each do |table| %>
    <div class="unit">
      <%= link_to table.name, customer_orders_path(table),
      data: { turbo_frame: "_top" }, class: 'unit-title' %>
        <div class = "unit_actions",>
           <%= link_to "Edit Customer", edit_customer_path(table), class: "btn btn-warning" %>
        </div>
    </div>
  <% end %>
</div>
