<% if @total_order_amount > 0 %>
  <div class="mt-3 mb-3">
    <div class="d-flex" style="align-items:center;">
      <div>
        <p>Total Amount</p>
        <b class="total-amount"><%= number_to_currency(@total_order_amount, unit: "₱") %></b>
      </div>
    </div>
    <%= link_to "Print Bill", "#", class: "btn btn-warning" %>
    <% unless @order.done? %>
      <%= link_to "Settle", "#", class: "btn btn-primary", data: { bs_toggle: "modal", bs_target: "#checkout_modal", order_id: @order.id } %>
    <% end %>
  </div>
<% end %>
