<h1>Stocks</h1>
<div class="row">
  <div class="items-container">
    <% @stocks.each do |stock| %>
      <div class="unit item product-details">
        <%= render "update_stock_modal", stock: stock %>
        <%= render "stock", stock: stock %>
      </div>
    <% end %>
  </div>
</div>
