<nav class="navbar">
  <div class="container-fluid">
    <div></div>
    <div class="d-flex">
      <% if user_signed_in? %>
        <%= button_to 'Log out', destroy_user_session_path, class: 'btn btn-dark', method: :delete %>
      <% else %>
        <%= button_to 'Log in', new_user_session_path, class: 'btn btn-dark', method: :get%>
        <%= button_to 'Sign up', new_user_registration_path, class: 'btn btn-light ml-3', method: :get %>
      <% end %>
    </div>
  </div>
</nav>
