<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <div class="authentication__container">
    <% if user_signed_in? %>
      <%= button_to 'Log out', destroy_user_session_path, class: 'btn btn-dark', method: :delete %>
    <% else %>
      <%= button_to 'Log in', new_user_session_path, class: 'btn btn-dark', method: :get%>
      <%= button_to 'Sign up', new_user_registration_path, class: 'btn btn-light ml-3', method: :get %>
    <% end %>
  </div>
</nav>
