<div class = "main" style = "text-align: center; justify-content: center;">
<h1>Category</h1>
    <% @category.each do |c| %>
    <div style= "font-size: 20px; ">
    <li> <%= link_to c.name, show_product_path(c) %> </li>
    <% end %>
    </div>

</div>