<%= title "Stock Logs" %>

<div class="rounded">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Histories</th>
      </tr>
    </thead>
    <tbody id="stocks">
      <% @stocks.each do |stock| %>
        <%= render "stock", stock: stock %>
      <% end %>
    </tbody>
  </table>
</div>
