.table-container {
  width: 100px;
  height: 100px;
  border-radius: var(--border-radius);
  text-align: center;
  vertical-align: middle;
  box-shadow: var(--shadow-small);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--space-l);
  color: #000;
}
