.order-item {
  &__card {
    min-height: 430px;
  }
}

.placeholder__thumb {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    min-width: 250px;
    min-height: 250px;
    max-height: 250px;
  }
}

@media screen and (max-width: 599px) {

  /* Styles for screens that are at most 599 pixels wide */
  .order-item {
    &__card {
      min-height: 230px;
    }
  }
}