.order-item {
  &__card {
    min-height: 430px;
  }
}

.placeholder__thumb {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
  }
}

.items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  .item {
    box-sizing: border-box;
  }
}

.total-amount {
  font-size: 1.5rem;
}

@media screen and (max-width: 599px) {

  /* Styles for screens that are at most 599 pixels wide */
  .order-item {
    &__card {
      min-height: 230px;
    }
  }
}