// .notice {
//   padding: var(--p-m);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 8px;

//   .notice-info {
//     background-color: #0dcaf033;
//   }
// }
.svg-icon {
  height: var(--space-m);
  width: var(--space-m);
  margin-right: var(--space-xs);
}

.alert {
  background-color: #f3f4f6;
  color: #718096;
  padding: 1rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-family: 'sans-serif';

  svg {
    color: #cbd5e0;
  }

  &.alert-info {
    background-color: #ebf8ff;
    color: #2b6cb0;

    svg {
      color: #4299e1;
    }
  }

  &.alert-success {
    background-color: #def7ec;
    color: #38a169;

    svg {
      color: #4bbf6b;
    }
  }

  &.alert-error {
    background-color: #fed7d7;
    color: #e53e3e;

    svg {
      color: #f56565;
    }
  }

  &.alert-warning {
    background-color: #fff8db;
    color: #d69e2e;

    svg {
      color: #ecc94b;
    }
  }

  a {
    font-weight: 600;
  }
}

.notice {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  justify-content: center;
  font-weight: 500;
  padding: 1rem;

  &.notice-info {
    background-color: var(--color-secondary);
    color: var(--color-accent-light);

    svg {
      color: var(--color-accent-light);
    }
  }

  &.notice-success {
    background-color: var(--color-secondary);
    color: var(--color-accent-light);

    svg {
      color: var(--color-accent-light);
    }
  }

  &.notice-error {
    background-color: var(--color-secondary);
    color: #e53e3e;

    svg {
      color: #f56565;
    }
  }

  &.notice-warning {
    background-color: var(--color-secondary);
    color: var(--color-primary);

    svg {
      color: var(--color-primary);
    }
  }
}
