<div class="unit">
  <%= link_to category.name, category_path(category), class: 'unit-title' %>
  <div class="unit__actions">
    <%= link_to "Edit Category", edit_category_path(category) %>
  </div>
</div>
