<h1>Categories</h1>

<%= link_to "New Category", new_category_path, class: "btn btn-dark mb-3",
      data: { turbo_frame: dom_id(Category.new) } %>
<%= turbo_frame_tag dom_id(Category.new) %>

<%= turbo_frame_tag "categories" do %>
  <%= render @categories %>
<% end %>
