<div class="unit">
  <%= link_to product.name, category_product_path(@category, product), class: 'unit-title' %>
  <div class="unit__actions">
    <%= link_to "Edit Product", edit_category_product_path(@category, product) %>
  </div>
</div>
