<h1>Products</h1>

<%= link_to "New Product", new_product_path, class: "btn btn-dark",
      data: { turbo_frame: dom_id(Product.new) } %>
<%= turbo_frame_tag dom_id(Product.new) %>
<div class = "buttons p-2">
  <% @categories.each do |category| %>
    <%= link_to category[1], products_path(category_id: category[0]), class: "btn btn-dark", data: { turbo_stream: true } %>
  <% end %>
</div>

<%= render "products", products: @products %>